---
import EmployeeCard from "./EmployeeCard.astro";

const { data } = Astro.props;
---

<div>
  <ul role="list">
    {data.map((employee) => <EmployeeCard {employee} />)}
  </ul>
</div>

<style>
  @layer components {
    div {
      container: content / inline-size;
    }

    ul {
      display: grid;
      gap: 1rem;

      @container content (width > 800px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
</style>
