---

---

<form>
  <input type="email" placeholder="Enter Email" />
  <input type="password" placeholder="Enter Password" />
</form>

<style>
  form {
    display: grid;
    gap: 1rem;

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
    }
  }
</style>
